body {
    font-family: 'Cinzel Decorative', sans-serif;
    background-color: #ffffe6; 
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #ffcc66, #ffffe6); 
    color: #fff;
    text-align: center;
    padding: 40px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 90px;
    margin: 0;
    text-transform: uppercase;
    color: #333333; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
}

h2 {
    font-size: 36px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #333333; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    position: relative;
}

.image-container:hover {
    transform: translateY(-10px); 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); 
}

.image-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: grayscale(50%);
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: grayscale(0%);
}

.image-container p {
    font-size: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
}

.image-container:hover p {
    background-color: rgba(255, 255, 255, 0.95); 
}

#video-container {
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#video-container iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 20px;
}

#video-container p {
    font-size: 24px;
    margin-top: 20px;
    color: #333333;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
}

.import{
  position: relative;
  top:0;
  width: 100%;
  height:70px;
  background-color: #ffcc66;
}
.search{
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  position: relative;
  left:300px;
  top:10px;
}
.search-input{
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#333;
  margin-left: 24px;
  border: none;
  outline: none;
  background: transparent;
}

.sidebar1{
  position: fixed;
  bottom: 0px;
  left :0px;
  width:250px;
  height: 100%;
  background-color:white ;
  z-index: 10000;
}

#enjoy{
  font-size: 33px;
  color:black;
  text-align: center;
  line-height: 70px;
  user-select: none;
  background-color:#f7d38c;
  border-bottom: 1px solid black;
}

#boors {
  text-decoration: none;
  display: block;
  height:100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color:black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

#boors:hover{
  padding-left: 50px;
}

#side{
  list-style-type: none;
}

.close{
  display: block;
  height:50px;
  width:250px;
  line-height: 40px;
  font-size: 33px;
  color:black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: #ffcc66;
}

.open{
  font-size: 50px;
  background-color: #ffcc66;
  border:0.1px;
  position: relative;
  bottom:90px;
}
#linkLog{
    float:right;
    position: relative;
    bottom: 50px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  #linkLog:hover{
    text-decoration: underline;
  }
  #home{
    position: relative;
    left:100px;
    bottom: 40px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  #home:hover{
    text-decoration: underline;
  }
  footer {
    position: static;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #ffcc66;
      padding: 2rem 0;
      text-align: center;
      box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, .1);
      z-index: 1000;
      margin-top:900px;
  }
  
  
  .footer .foot {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5px;
  }
  
  .footer .footh{
    font-size: 2rem;
    color: var(--light-text-color);
    font-weight: bolder;
    text-align: left;
    padding-top: 5px;
  }
  
  .footer ul {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    left: 3px;
  }
  
  .footer ul a {
    font-size: 1.5rem;
    text-align: left;
    margin: 0.5rem 0; /* Add margin for spacing */
  }
  
  .footer ul a:hover{
    text-decoration: underline;
  }
  #aswan{
    font-size: 40px;
    color: black;
  }